<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            <table border="2">
                <tr>
                    <td>
                        <input type="text" id="" value="" placeholder="CODE">
                        <input type="submit" value="submit">
                    </td>
                </tr>
                <tr>
                    <TD>
                        <h4>FOR THE CODE SUBSCRIBE</h4>
                    </TD>
                </tr>
                <tr>
                    <td>
                        <button type="button" name="btn_sub">subscribe</button>
                        <button type="button" name="btn_back"><a href="{% url 'User:communitychatpage' %}">back</a></button>
                    </td>
                    
                </tr>
            </table>
        </div>
    </form>
</body>
</html>