<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div >
            {% for i in dataCommunity %}
            <div>
                <div>No. {{ forloop.counter }}</div>
                <h2>{{ i.community.community_name }}</h2>
                <p>{{ i.community.community_discription }}</p>
                <div>Created: {{ i.community_Date }}</div> <br>
                <a href="{% url 'Mentor:communitychatpage'  i.community.id %}">HOPE IN</a>
            </div>
            {% endfor %}
        </div>
    </form>
</body>
</html>